<!DOCTYPE html>
<html>
<head>
    <title>failed</title>
    <style>
        h1{
            font-size: 100px;
            color:red;
            font-family: monospace;
        }
        p{
            font-size: 50px;
        }
        a{
            text-decoration: none;
            border: solid red;
        }
    </style>
</head>
<body>
    <h1>failure!</h1>
    <p>Your attendance already marked ....</p>
    <a href="{% url 'face-recognition' %}">Go back to the face recognition page</a>
</body>
</html>